<a href="https://colab.research.google.com/github/ritik-hue/EDA-and-feature-engineering/blob/main/Eda_and_feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_train=pd.read_csv('/content/drive/MyDrive/train.csv')
df_train.head()
df_test=pd.read_csv('/content/drive/MyDrive/test.csv')
df=df_train.append(df_test)
df.head()
df.drop(['User_ID'],axis=1,inplace=True)

<ipython-input-2-8c102605bcac>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df_train.append(df_test)

axis=1 in drop means removing the value columnwise whereas in row it is axis=0

In [9]:
df['Gender']=df['Gender'].map({'F':0,'M':1})
##df['Gender']=pd.get_dummies(df['Gender'],drop_first=True)
df.head()

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,P00069042,NaN,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,P00248942,NaN,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,P00087842,NaN,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,P00085442,NaN,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,P00285442,NaN,55+,16,C,4+,0,8,NaN,NaN,7969.0

or we can use pd.get_dummies to convert categorical
df['gender']=pd.get_dummies(df['gender'],drop_first=1)

In [12]:
df['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [25]:
##df['Age']=df['Age'].map({'0-17':1,'18-25':2,'26-35':3,'36-45':4,'46-55':5,'55+':6})

# Import label encoder
from sklearn import preprocessing

# label_encoder object knows
# how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
df['Age']= label_encoder.fit_transform(df['Age'])

##df['Age'].unique()
df.head()

,Product_ID,Gender,Age,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,B,C,B,C,B,C,B,C
0,P00069042,NaN,0,10,2,0,3,8.0,16.0,8370.0,0,0,0,0,0,0,0,0
1,P00248942,NaN,0,10,2,0,1,6.0,14.0,15200.0,0,0,0,0,0,0,0,0
2,P00087842,NaN,0,10,2,0,12,8.0,16.0,1422.0,0,0,0,0,0,0,0,0
3,P00085442,NaN,0,10,2,0,12,14.0,16.0,1057.0,0,0,0,0,0,0,0,0
4,P00285442,NaN,0,16,4+,0,8,8.0,16.0,7969.0,0,1,0,1,0,1,0,1

for assigning values to age we can use map function or label encoding

In [17]:
df_city=pd.get_dummies(df['City_Category'],drop_first=True)
df_city.head()

   B  C
0  0  0
1  0  0
2  0  0
3  0  0
4  0  1

In [21]:
df=pd.concat([df,df_city],axis=1)
df.drop('City_Category',inplace=True,axis=1)

In [22]:
df.isnull().sum()

Product_ID                         0
Gender                        783667
Age                                0
Occupation                         0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            245982
Product_Category_3            545809
Purchase                      233599
B                                  0
C                                  0
B                                  0
C                                  0
B                                  0
C                                  0
B                                  0
C                                  0
dtype: int64

In [23]:
df['Product_Category_2']=df['Product_Category_2'].fillna(df['Product_Category_2'].mode()[0])

In [24]:
df['Product_Category_3']=df['Product_Category_3'].fillna(df['Product_Category_3'].mode()[0])

In [27]:
df['Stay_In_Current_City_Years']=df['Stay_In_Current_City_Years'].astype(int)

ValueError: ignored

In [30]:
sns.barplot(x='Product_Category_2',y='Purchase',hue='Gender',data=df)

ValueError: ignored